name: CI
on:
  workflow_dispatch:

jobs:
  id-from-main:
    permissions:
      id-token: 'write' 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          echo START TEST with id from pypi
          pip install pyjwt
          pip install "id @ git+https://github.com/di/id.git@main"
          python3 test.py

  id-from-pypi:
    permissions:
      id-token: 'write' 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          echo START TEST with id from pypi
          pip install pyjwt
          pip install id
          python3 test.py
