name: CI
on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      id-token: 'write' 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          pip install jwt
          pip install "id @ git+https://github.com/di/id.git@main"
          python3 test.py
